#!/usr/bin/make -f

CFLAGS =-Wall -g
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
  CFLAGS +=-O0
else
  CFLAGS +=-O2
endif

config.status: configure
	CFLAGS='$(CFLAGS)'' -DSFTPSERVER_PATH="\"/usr/lib/sftp-server\""' \
	  ./configure --host='$(DEB_HOST_GNU_TYPE)' \
	    --build='$(DEB_BUILD_GNU_TYPE)' --prefix=/usr \
	    $(CONFFLAGS)

build: build-stamp
build-stamp: config.status
	dh_testdir

	$(MAKE) PROGRAMS="dropbear dbclient dropbearkey dropbearconvert scp"

	touch $@

clean:
	dh_testdir
	dh_testroot

	[ ! -f Makefile ] || $(MAKE) distclean
	rm -f config.status config.log dropbear/libtompcrypt/Makefile dropbear/libtommath/Makefile

	dh_clean

install: build-stamp
	dh_testdir
	dh_testroot
	dh_prep

	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp PROGRAMS="dropbear dbclient dropbearkey dropbearconvert scp"

binary-indep:

binary-arch: install
	dh_testdir
	dh_testroot

	dh_install
	dh_link
	dh_strip --dbg-package=dropbear-dbg
	dh_compress
	dh_fixperms
	dh_installinit --no-start -- start 20 2 . stop 20 0 6 .
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_builddeb

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary install
